@import '../../styles.scss';

.row {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 15px;
	h4, p {
		padding: 0 15px;
		margin-bottom: 30px;
	}
	button {
		margin-left: 15px;
		margin-bottom: 30px;
	}
}

.border-bottom {
	border-bottom: 3px solid $black;
	margin-bottom: 30px;
}

.dsp-isp {
	max-width: 300px;
}
