@import '../../styles.scss';

#step-09 {

	button {
		margin: 30px 0;
	}
	a {
		color: $black;
		display: block;
		cursor: pointer;
		-moz-cursor: pointer;
		-ms-cursor:pointer;
	}

  .txt-grey {
    strong {
      color: $black;
      text-transform: uppercase;
    }
  }

  .print-col {
    margin-bottom: 25px;
    a {
      text-decoration: underline;
    }
  }
}
